In [31]:
#Question 1
#create the python program to sort the given list of tuples based on integer value using a lambda function
#[('sachin tendulkar',34357),('Rinky Ponting',27483),('Jack Kalllis',25534),('Virat Kohli',24963)]

In [41]:
l2  = [('sachin tendulkar',34357),('Rinky Ponting',27483),('Jack Kalllis',25534),('Virat Kohli',24963)]
sort =sorted(l2, key= lambda x : x[1])
print(sort)

[('Virat Kohli', 24963), ('Jack Kalllis', 25534), ('Rinky Ponting', 27483), ('sachin tendulkar', 34357)]

In [ ]:
#Question 2
#write the pyrthon program to find the square of all the number in the given list of integer using lambda and map function [1,2,3,4,5,6,7,8,9,10]

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]

In [5]:
sq = lambda a : a**2

In [7]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Question 3
#write the python program to convert the given list of integer into a tuple of strings. use map and lambda function  [1,2,3,4,5,6,7,8,9,10]

In [8]:
s = [1,2,3,4,5,6,7,8,9,10]

In [9]:
a = lambda s : str(s)

In [11]:
tuple(map(a,s))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
#Question 4
#write the python program to reduce function to compute the product of the list containing the numbers from 1 to 25

In [ ]:
def square(n):
    return n**2

In [17]:
sq1  = lambda a : a**2
from functools import reduce

In [30]:
l1 =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce( lambda x,y : x*y,l1)

15511210043330985984000000

In [23]:
#Question 5
#write the python program to filter the number in a given list that are divisible by 2 and 3 using the filter fuction [2,3,6,9,27,60,90,120,55,46]

In [3]:
l4 = [2,3,6,9,27,60,90,120,55,46]

In [4]:
(list(filter(lambda x : x%2==0 and x%3==0,l4)))

[6, 60, 90, 120]

In [28]:
#Question 6
#write a python program to find palindromes in the given list of strings using lambda and filter function  ["Python", "php", "aba","radar", "level"]

In [55]:
l5 = ["Python", "php", "aba","radar", "level"]
print("Original list of strings:")
print(l5)
result  = list(filter(lambda x: (x == "".join(reversed(x))),l5))
print("The palindrom list is:")
print(result)

Original list of strings:
['Python', 'php', 'aba', 'radar', 'level']
The palindrom list is:
['php', 'aba', 'radar', 'level']