In [1]:
#Question 1
#explain with an example each when to use a for loo and a while loop

In [2]:
#We use the for loop when you know how many times the loop should run. If you want the loop to break based on a condition other than
#the number of times it runs, you should use a while loop

In [3]:
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Question 2
#write a python program to print the sum and the product of first 10 natural numbers using for and while loop

In [4]:
i=1
sum = 0
product = 1
while(i<11):
    sum = sum +i
    product = product*i
    i = i+1
print(sum)   
print(product)

55
3628800

In [1]:
sum =0
product=1
for i in range(1,11,1):
    sum=sum+i
    product = product*i
print(sum) 
print(product)

55
3628800

In [ ]:
#Question 3 
#craete a python program to compute the electricity bill for a household. The per-unit charges in Rs are as follows:

In [12]:
n =int (input("Enter the units"))
i=1
while(i<=n):
    if(i<=100):
        k=i*4.5
    elif(i<=200):
        k =450+(n-100)*6
    elif(i<=300):
        k = 450 + 600 + (n-200)*10
    else:
        k= 450 + 600 + 1000 + (n-300)*20
    i = i+1   
print(k)

Enter the units 310

2250

In [3]:
#Question 4
#create a list numbers from 1 to 100 . use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible
#by 4 or 5 then append that number in a list and print that list

In [2]:
l1=[]
for i in range(1,101,1):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [31]:
l5 = []
for i in range(1,101,1):
    k =(i**3)
    if(k%4==0 or k%5==0):
        l5.append(k)
print(l5)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [30]:
l4 = []
i = 1
while(i<101):
    k =(i**3)
    if(k%4==0 or k%5==0):
        l4.append(k)
    i = i+1  
print(l4)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [20]:
#Question 5
#write a program to filter count vowels in the below-given string
#string ="I want to become a data scientist"

In [26]:
string = "I want to become a data scientist"
count = 0
for i in string:
    if(i== 'a' or i == 'e' or i =='i' or i == 'o' or i == 'u'):
        count  = count +1
print(count)

11